<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @part.name %>
</p>

<p>
  <strong>Make:</strong>
  <%= @part.make_id %>
</p>

<p>
  <strong>Product:</strong>
  <%= @part.product_id %>
</p>

<ul>
  <% @part.cars.each do|car| %>
  <li><%=car.name %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_part_path(@part) %> |
<%= link_to 'Back', parts_path %>
