<p id="notice"><%= notice %></p>

<p>
  <strong>Model name:</strong>
  <%= @make.model_name %>
</p>

<p>
  <strong>Country:</strong>
  <%= @make.country %>
</p>

<p>
  <strong>Car:</strong>
  <%= @make.car %>
</p>

<%= link_to 'Edit', edit_make_path(@make) %> |
<%= link_to 'Back', makes_path %>
